button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
}

#start {
    background-color: #4caf50;
}

#pause {
    color: black;
}

#stop {
    background-color: red;
}

#timer {
    line-height: 200px;
    font-size: 200px;
}

body {
    text-align: center;
    background-color: #eef;
}
